body{
  background-image:url('images/pattern-background-desktop.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 98%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Red Hat Display', sans-serif;
}

button{
  width:100%;
  padding:18px 0;
  border:0px;
  background: hsl(245, 75%, 52%);
  color:#fff;
  border-radius: 15px;
  font-family: 'Red Hat Display', sans-serif;
  font-weight:900;
  font-size: 14px;
  margin-bottom: 30px;
  box-shadow: rgba(56, 41, 224, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

button:hover{
  background-color: hsl(240, 100%, 80%);
}

#SummaryContainer{
  background:#fff;
  display: flex;
  flex-direction: column;
  width:410px;
  height:633px;
  border-radius: 30px;
  overflow: hidden;
}

#SummaryImage{
  flex: .5;
  background-image:url('images/illustration-hero.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

#SummaryContent{
  flex:1;
  text-align: center;
  padding:0px 40px;
}

#SummaryContent p{
  font-size: 16px;
  color:grey;
  margin-top: 0px;
  line-height: 25px;
}

#SummaryContent h1{
   font-weight: 900;
   font-size: 30px;
   margin-bottom: 15px;
   color: hsl(223, 47%, 23%);
}

#PricingTotalSection{
  display: flex;
  background-color: hsl(225, 100%, 98%);
  padding:23px 28px;
  border-radius: 10px;
  text-align: left;
  align-items: center;
  justify-content: center;
  margin-bottom:40px;
}

#PricingTotalImage{
padding-right: 20px;
}

#PlanType{
flex:1;
}

#PlanType h2{
  font-size:16px;
  margin:0px 0px 5px 0px;
  color: hsl(223, 47%, 23%);
}

#PlanType span{
  margin-top:18px;
  color:grey;
}

#PricingTotalSection a{
  color:hsl(245, 75%, 52%);
  font-weight: 700;
  font-size: 16px;
}

#PricingTotalSection a:hover{
  color:hsl(240, 100%, 80%);
}

a.CancelButton{
  color:grey;
  text-decoration: none;
  font-weight: 700;
}

a.CancelButton:hover{
  color: hsl(223, 47%, 23%);
}
